// -------------------------------------------
//   Article list illustration
// -------------------------------------------

.article-list__illustration {
  text-align: center;
  margin-top: 30px;
  border: none;

  img {
    max-width: 80px;
  }
}
