// -------------------------------------------
//   Article list illustration
// -------------------------------------------

.article-list__illustration {
  text-align: center;
  border: none;

  img {
    max-width: 70px;
  }
}
