// -------------------------------------------
//   Article detail illustration
// -------------------------------------------

.article-detail__illustration {
  margin: 30px auto;
  max-width: 80px;
  min-width: 30px;
  text-align: center;
}
