// -------------------------------------------
//   Search form action
// -------------------------------------------

.form__action {
  padding: ritmo(2);

  background: $color-background;
  color: $color-contrast;

  border: 1px solid $color-border {
    top: 0;
    bottom: 0;
  }
}
