// -------------------------------------------
//   Article detail
// -------------------------------------------

@import "__illustration/article-detail__illustration";

.article-detail {
  @include span(full);

  margin-bottom: ritmo(11);

  header {
    @include span(full);
  }

  &__illustration {
    margin: 0 auto ritmo(8);
  }

  &__content {
    @include span(full);
  }

  .highlight pre {
    margin: ritmo(4) 0;
  }
}
