// -------------------------------------------
//   Search form block
// -------------------------------------------

@import
  "__input/form__input",
  "__action/form__action",
  "__group/form__group";

.form {
  @include span(full);

  &__group {
    @include span(full);
    margin-bottom: ritmo(4);
  }

  &__input {
    @include span(full);

    width: 100%;
    margin-top: ritmo(2);
  }

  &__action {
    float: right;
  }
}
