// -------------------------------------------
//   Article list item
// -------------------------------------------

.article-list__item {
  padding: 30px 0;

  border: {
    bottom: 1px solid $color-border;
  }
}
