// -------------------------------------------
//   Comments
// -------------------------------------------

.comments {
  @include span(full);

  padding: ritmo(4) 0;

  border-top: 1px solid $color-border;

  header {
    @include span(full);
  }

  &__list {
    margin: 0 0 ritmo(5);
    padding: 0;
  }

  &__comment {
    border-bottom: 1px solid $color-border;
    margin-bottom: ritmo(4);
    padding-bottom: ritmo(4);

    &:last-of-type {
      border: none;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  &__comment-content {
    @extend %small-text;
  }

  &__user {

    h3 {
      @extend %base-text;
      margin-bottom: -2px;
      font-family: $font-sans;
    }
  }

  &__avatar {
    @extend %heading-three;

    display: inline-block;
    float: left;
    width: ritmo(8);
    height: ritmo(8);
    margin-right: ritmo(4);
    margin-bottom: ritmo(4);

    background: $color-background;
    color: $color-contrast;

    line-height: ritmo(8);
    text-align: center;
    vertical-align: middle;
  }
}
