
<section class="comments">
  <h2>Comments</h2>

  <ul class="comments__list">
    {{ if isset $.Site.Data.comments .UniqueID }}
      {{ range index $.Site.Data.comments .UniqueID }}
        <li class="comments__comment">
          <header>
            <figure class="comments__avatar">
              <span>{{slicestr .name 0 1}}</span>
            </figure>

            <div class="comments__user">
              <h3>{{ .name }}</h3>
              <time>{{ dateFormat "02/01/2006" .date }}</time>
            </div>
          </header>
          <p>{{ .message | markdownify }}</p>
        </li>
      {{ end }}
    {{ else }}
      <p>There are no comments yet!</p>
    {{ end }}
  </ul>

  <h2>Leave a comment</h2>

  <form method="POST" action="https://api.staticman.net/v2/entry/roperzh/blog.roperzh.com/master/comments" class="form">
    <input name="options[origin]" type="hidden" value="{{ .Permalink }}">
    <input name="options[redirect]" type="hidden" value="https://blog.roperzh.com">
    <input name="options[slug]" type="hidden" value="{{ .UniqueID }}">

    <div class="form__group">
      <label for="name">Name</label>
      <input type="text" id="name" name="fields[name]" class="form__input">
    </div>

    <div class="form__group">
      <label for="message">Message</label>
      <textarea name="fields[message]" id="message" rows="5" class="form__input"></textarea>
    </div>

    <button class="form__action">Send</button>
  </form>
</section>
