<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">
      You are using an <strong>outdated</strong> browser.
      Please <a href="http://browsehappy.com/">upgrade your browser</a>
      to improve your experience and security.
    </p>
  <![endif]-->

  <main class="container">
    <nav class="navigation navigation_big">
      <a href="/" class="navigation__link">&#x2205; Name</a>

      <section class="navigation__link-group">
        <a href="http://github.com/roperzh" target="_blank" class="navigation__link navigation__link_light">About</a>
        <a href="http://github.com/roperzh" target="_blank" class="navigation__link navigation__link_light">Github</a>
        <a href="http://twitter.com/roperzh" target="_blank" class="navigation__link navigation__link_light">Twitter</a>
      </section>
    </nav>
    <!-- Temporally disabled
      <section class="navigation">
        <form action="/search" class="search-form">
            <input type="search" class="search-form__input">
            <button class="search-form__action">Search</button>
          </form>
      </section>
    -->
