<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" href="apple-touch-icon.png">

  <link rel="stylesheet" href="/css/app.css">
</head>
<body>
  <!--[if lte IE 9]>
    <p class="browserupgrade">
      You are using an <strong>outdated</strong> browser.
      Please <a href="http://browsehappy.com/">upgrade your browser</a>
      to improve your experience and security.
    </p>
  <![endif]-->

  <main class="container">
    <nav class="navigation navigation_big">
      <a href="/" class="logo" title="Blog logo">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 978.6 155.74" class="logo__image">
          <g>
            <path class="a" d="M137.74,120.93,82,65.19,137.74,9.45l55.74,55.74ZM92.49,65.19l45.25,45.25L183,65.19,137.74,19.94Z"/>
            <rect class="a" x="134.24" y="16.19" width="7" height="98"/>
            <polygon class="a" points="178.74 9.45 178.74 19.94 224 65.19 178.74 110.45 178.74 120.93 234.48 65.19 178.74 9.45"/>
            <polygon class="a" points="219.74 110.45 219.74 120.93 275.48 65.19 265 65.19 219.74 110.45"/>
            <polygon class="a" points="96.74 9.45 96.74 19.94 51.48 65.19 96.74 110.45 96.74 120.93 41 65.19 96.74 9.45"/>
            <polygon class="a" points="55.74 110.45 55.74 120.93 0 65.19 10.48 65.19 55.74 110.45"/>
          </g>
        </svg>
      </a>

      <section class="navigation__link-group">
        <a href="http://roperzh.com/about" target="_blank" class="navigation__link" title="About">About</a>
        <a href="http://github.com/roperzh" target="_blank" class="navigation__link" title="GitHub profile">Github</a>
        <a href="http://twitter.com/roperzh" target="_blank" class="navigation__link" title="Twitter profile">Twitter</a>
      </section>
    </nav>
    <!-- Temporally disabled
      <section class="navigation">
        <form action="/search" class="search-form">
            <input type="search" class="search-form__input">
            <button class="search-form__action">Search</button>
          </form>
      </section>
    -->
