// -------------------------------------------
//   Search form action
// -------------------------------------------

.search-form__action {
  height: 100%;

  background: $color-background;
  color: $color-contrast;

  border: 1px solid $color-border {
    top: 0;
    bottom: 0;
  }
}
