// -------------------------------------------
//   Header
// -------------------------------------------

@import "__logo/header__logo";

.header {
  @include span(full);

  padding: 15px 0;

  border: {
    bottom: 1px solid $color-border;
  }
}
