// -------------------------------------------
//   Footer
// -------------------------------------------

.footer {
  @include span(full);
  @include ritmo-paddings(5);

  margin-top: ritmo(8);

  border: {
    top: 1px solid $color-border;
  }
}
