// -------------------------------------------
//   Search form input
// -------------------------------------------

.form__input {
  display: block;
  margin-top: 5px;
  padding: 5px;

  outline: none;
  border: 1px solid $color-border;

  resize: vertical;
}
