// -------------------------------------------
//   Navigation
// -------------------------------------------

@import "__link/navigation__link";

.navigation {
  @include span(full);

  border: {
    bottom: 1px solid $color-border;
  }

  &__link-group {
    @include span(4 of 8);
    @include last;
    text-align: right;
  }

  &__link {
    margin-right: gutter() * 2;
  }

  &_big {
    padding: 10px 0;
  }
}
