// -------------------------------------------
//   Navigation link
// -------------------------------------------

.navigation__link {
  @extend %small-text;

  display: inline-block;

  text: {
    align: center;
    transform: uppercase;
  }

  border: none;

  &:hover {
    color: $color-secondary;
  }
}
