// -------------------------------------------
//   Navigation link
// -------------------------------------------

.navigation__link {
  display: inline-block;

  font-size: 13px;
  line-height: $measure-nav-height;
  text: {
    align: center;
    transform: uppercase;
  }

  border: none;
}
