// -------------------------------------------
//   Navigation link
// -------------------------------------------

.navigation__link {
  display: inline-block;

  font-size: 22px;
  line-height: $measure-nav-height;
  text: {
    align: center;
    transform: uppercase;
  }

  border: none;

  &_light {
    font-size: 13px;
  }
}
